[Unit]
Description=XFCE dconf settings synchronization service
Documentation=man:dconf(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/dconf-sync-monitor-xfce
ExecStop=/usr/bin/dconf-sync-stop-xfce
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
