[Unit]
Description=XFCE mimeapps (file associations) synchronization service
Documentation=man:mimeapps(5)
PartOf=graphical-session.target
After=graphical-session.target
# Don't run in GDM greeter sessions
ConditionPathExists=!/run/gdm/home/gdm-greeter

[Service]
Type=simple
ExecStart=/usr/bin/mimeapps-sync-monitor-xfce
ExecStop=/usr/bin/mimeapps-sync-stop-xfce
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
